@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}


/* MAIN */

.main-wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 19px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 1px 5px #00000040, 0 0 50px #0000001a inset;
}

.flex-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.main.blur {
  opacity: 50%;
  filter: blur(5px);
}

.main {
  margin: 2px 7px 0;
  opacity: unset;
  filter: none;
}

.main .main-content {
  margin: 0 0 17px;
}

/** VIDEO **/

.main-content .video-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.main-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* MENU */

.drawer-control svg {
  padding-left: 8px;
  padding-top: 3px;
  width: 33px;
  fill: #02b3e4;
}

#menu {
  max-width: 170px;
  width: 100%;
  overflow: auto;
  position: absolute;
  margin-top: 2px; 
  transform: translate(-180px,0);
  transition: all .2s ease-in-out;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1);
}

#menu.visible {
  transform: translate(0, 0);
}

.menu {
  width: 300px;
  margin-right: auto;
}


/* PROJECTS SLIDER */

.carousel {
  display: block;
}

.carousel .carousel-inner {
  overflow: hidden;
  padding: 5px 2px 5px 1px;
  display: block;
}

/** PROJECT IMAGE **/

.carousel .carousel-inner .project-image {
  width: 99%;
  border-radius: 0;
  box-shadow: 0 10px 6px -6px #777;
  display: block;
  transform: scale(0.91);
  transition: transform 150ms ease-in;
}

.carousel .carousel-inner .project-image:hover {
  transform: scale(0.98);
  box-shadow: 0 10px 6px -5px #777;
}

.carousel .carousel-inner .select-project {
  transform: scale(0.98);
}  

/** CONTROLS **/

.carousel .carousel-inner .previous,
.carousel .carousel-inner .next {
  width: 48px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  fill: #e9c893;
  background-color: transparent;
  border: none;
  margin-bottom: 2px;
} 

.carousel .carousel-inner .next {
  transform: rotate(180deg);
}


/* PROJECT DESCRIPTION */

.project-presentation {
  margin-bottom: 55px;
  width: 100%;
} 

/** WEB TECHNOLOGIES **/

.project-presentation .icons-wrapper .icon {
  color: #ffbc8f;
  display: inline-block; 
  font-size: 41px;
  height: 50px;
  margin: 7px 5px 0 7px;
}

/** TITLE AND LINK **/

.project-presentation .project-description {
  height: fit-content;
}

.project-description .title-and-link {
  display: flex;
  flex-wrap: wrap;
}

.project-description .title-and-link .github-repo {
  font-size: 17px;
  text-decoration: none;
  color: #388dee;
  margin: 18px 0 0 25px;
}

.project-description .title-and-link .github-repo:hover {
  font-size: 18px;
}

.project-presentation .project-description .project-title {
  font-size: 20px;
  color: #464646;
  margin: 10px 10px 0;
  font-weight: 900;
  width: 65%;
}

/** DESCRIPTION **/

.project-presentation .project-description .description {
  margin: 3px 2px 5px 10px;
  font-size: 15px;
  font-weight: 600;
  color: #757474;
  letter-spacing: 0.5px;
  line-height: 1.4;
  overflow-wrap: break-word;
  max-width: 92%;
}


/* SHORT BIO */

.aboutMe-wrapper {
  display: flex;
  flex-direction: column;
} 

.orange-line {
  border: 2px solid #fdb28a;
  margin: 13px 0 0;
} 

/** AUTHOR'S PHOTO **/

.aboutMe-wrapper .image-box {
  margin: 13px 27px 10px 10px;
}

.image-box .author {
  /* border-radius: 27px; */
  /* box-shadow: 10px 10px 11px -4px #808080; */
  width: 100%;
}

/** INFORMATION **/

.self-introduce {
  color: #464646;
  font-size: 24px;
  letter-spacing: 0.7px;
  margin-top: 0;
}

.personal-item-title {
  color: #464646;
  margin: 0 1px;
  font-size: 17px;
}

.personal-item {
  color: #388dee;
  margin: 0 0 15px;
  font-size: 15px;
}

.personal-item .title-link {
  color: #388dee;
  padding: 10px 4px 0 0;
  font-size: 15px;
  text-decoration: none;
}

.personal-item .title-link:hover {
  color: #469cff;
}

.icon-and-title {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.title-icon {
  width: 25px;
  margin-right: 5px;
  margin-left: 2px;
  order: -1;
}


/* FEED READER SCREEN SHOT */

.feed-reader-screenShot {
  width: 100%;
}

/* FOOTER */

.footer {
  width: 100%;
  color: #7d97ad;
  text-align: center;
  font-size: 13px;
  border: none;
  background-color: #2b3946;
  position: absolute;
  bottom: 0;
}

.footer p {
  margin: 0;
  color: #eaeaeb; 
}
