/* MEDIA QUERY */

@media only screen and (min-width: 360px) and (max-width: 569px) {
  .menu-mobile {
    max-width: 185px;
    transform: translate(-195px,0);
  }
}


@media only screen and (min-width: 570px) and (max-width: 973px) {
  .menu-mobile {
    max-width: 210px;
    transform: translate(-220px,0);
  }
}


@media only screen and (max-width: 650px) {
    .author-image-box {
      margin: 0 auto;
      margin-top: 20px;
    }
  
    .author-pic {
      max-width: 240px;
    }
    
    .personal-information {
      margin: 0 auto;
      word-break: break-all;
    }

    .personal-data {
      margin: 20px 0 0 18px;
    }
  
    .orange-line {
      border: none;
    }
  
    .personal-item,
    .personal-item-link {
      color: rgb(180, 180, 180);
    }

    .author-name {
      margin-left: 15px;
    }

    .link-icon {
      margin-top: 7px;
      margin-left: 10px;
    }
  }


  @media only screen and (min-width: 651px) {
    .author-wrapper {
      flex-direction: row;
      padding-bottom: 15%;
    }

    .title-and-link {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  
  @media only screen and (min-width: 640px) and (max-width: 901px) {
    .web-technologies-icon {
      font-size: 50px;
      margin-right: 8px;
      height: 60px;
    }
  }


  @media only screen and (min-width: 652px) {
    .github-repo,
    .project-site {
      margin-top: 12px;
      margin-right: 27px;
    }

    .project-links {
      margin-left: 40px;
    }
  }


  @media only screen and (min-width: 902px) {
    .github-repo,
    .project-site,
    .link-icon {
      margin-top: 16px;
    }
  }

  
  @media only screen and (min-width: 902px) and (max-width: 1021px) {
    .author-name,
    .project-title,
    .technologies-label {
      font-size: 24px;
    }

    .web-technologies-icon {
      font-size: 52px;
      margin-right: 10px;
      height: 65px;
    }
    
    .project-description {
      font-size: 16px;
    }
  }


  @media only screen and (max-width: 973px) {
    .main {
      width: 100%;
    }
  }
  
  
  @media only screen and (min-width: 974px) {
    .main {
      width: 1000px;
      max-width: 67%;
      margin: 40px 50px 23px 0;
      padding-left: 27px;
    }

    .carousel {
      margin-top: 16px;
      max-width: 95%;
    }

    .video-wrapper {
      padding-bottom: 49.7%;
    }

    .project-presentation {
      margin-bottom: 20px;
    }
  }

  
  @media only screen and (min-width: 1022px) {
    .author-name {
      font-size: 28px;
    }
  
    .web-technologies-icon {
      font-size: 60px;
      margin-right: 11px;
      height: 70px;
    }
    
    .project-title,
    .technologies-label {
      font-size: 25px;
    }

    .project-description,
    .github-repo,
    .project-site {
      font-size: 17px;
    }
  }


  @media only screen and (min-width: 1065px) {
    .main,
    .main.blur {
      margin-left: auto;
    }
  }