/* MEDIA QUERY */


@media only screen and (max-width: 650px) {
    .aboutMe-wrapper .image-box {
      margin: 0 auto;
      margin-top: 20px; 
    }
  
    .image-box .author {
      max-width: 240px;
    }
    
    .personal-information {
      margin: 0 auto;
      word-break: break-all;
    }

    .personal-data {
      margin: 20px 0 0 18px;
    }
  
    .orange-line {
      border: none;
    }
  
    .personal-item-title {
      /* color: rgb(112, 109, 109); */
    }

    .personal-item,
    .personal-item .title-link {
      color: rgb(180, 180, 180);
    }

    .self-introduce {
      margin-left: 15px;
    }

    .project-description .title-and-link .github-repo {
      margin-top: 15px;
    }
  }

  @media only screen and (min-width: 651px) {
    .aboutMe-wrapper {
      flex-direction: row;
    }
  }
  
  
  @media only screen and (min-width: 451px) and (max-width: 973px) {

     .project-description .github-repo {
      margin-top: 15px;
    }
  }
  
  
  @media only screen and (min-width: 640px) and (max-width: 901px) {
    .project-presentation .icons-wrapper .icon {
      font-size: 50px;
      margin-right: 8px;
    }
  }
  
  
  @media only screen and (min-width: 902px) and (max-width: 1022px) {
    .self-introduce {
      font-size: 24px;
    }
   
    .project-presentation .icons-wrapper .icon {
      font-size: 52px;
      margin-right: 10px;
    }
    
    .project-presentation .project-description .project-title {
      font-size: 24px;
    }
    
    .project-presentation .project-description .description {
      font-size: 16px;  
    }
  }

  @media only screen and (max-width: 973px) { 
    .main {
      width: 100%;
    }
  }
  
  
  @media only screen and (min-width: 974px) {
    .main {
      width: 1000px;
      max-width: 67%;
      margin: 40px 50px 23px 0;
      padding-left: 27px;
    }

    .carousel {
      margin-top: 16px;
      max-width: 95%;
    }
  }

  
  @media only screen and (min-width: 1022px) {
    .self-introduce {
      font-size: 28px;
    }
  
    .project-presentation .icons-wrapper .icon {
      font-size: 60px;
      margin-right: 11px;
    }
    
    .project-presentation .project-description .project-title {
      font-size: 25px;
    }
    
    .project-presentation .project-description .description {
      font-size: 17px;  
    }
  }

  @media only screen and (min-width: 1065px) {
    .main {
      margin-left: auto;
    }
  }