body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Hind Madurai", sans-serif;
}

.main-content {
  width: 100%;
  height: 300px;
}

.project-descripion {
  height: 200px;
}


/*POST SLIDER*/

.post-slider {
  border: 1px solid red;
  position: relative;
}

.post-slider .post-wrapper {
  border: 1px dashed red;
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
}

.post-slider .post-wrapper .post {
  background: blue;
  max-width: 95%;
  display: inline-block;
  height: 350px;
  /* margin: 0px 10px; */
}

.icon-previous {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  cursor: pointer;
  fill: #006669;
}

.icon-next {
  width: 30px;
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
  fill: #006669;
}


