@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Hind Madurai", sans-serif;
  background-color: #717e82;
}

.main {
  /* width: 100%; */
} 

iframe {
  max-width: 100%;
} 

.flex-content {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  /* align-items: stretch;
  height: 95%; */
  width: 100%;
}

.main-content {
  width: 65%;
  /* height: 70%; */
  /* border: 1px solid red; */
  margin-left: 80px;
  margin-bottom: 23px;
  margin-top: 65px;
}

.project-descripion {
  border: 1.5px solid #fc8b49;
  /* height: 42%; */
  width: 65%;
  margin-left: 80px;
  background-color: #1a2e36;
  border-bottom-right-radius: 100px;
}


/*POST SLIDER*/
.menu {
  /* width: 15%; */
  /* position: relative; */
  /* right: 0; */
  /* top: 0; */
}

.post-slider {
  border: 1.5px solid #fc8b49;
  position: absolute;
  width: 22%;
  top: 0;
  right: 0;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  margin-right: 40px;
  margin-top: 20px;
  display: block;
}

.post-slider .post-wrapper {
  /* border: 1px dashed red; */
  width: 74%;
  /* height: 80%; */
  margin: 0px auto;
  overflow: hidden;
  /* float: right; */
  /* padding: 10px 0px 10px 0px; */
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;

}

.post-slider .post-wrapper .post {
  /* max-width: 100%; */
  /* display: inline-block; */
  /* height: 250px; */
  border-radius: 5px;
  /* box-shadow: 2px 11px 18px 0px  black; */
  /* padding: 10px 0px 10px 0px; */
  margin: 10px 0 10px 0;
  width: 100%;
  max-width: none !important;
}
/* 
.icons-wrapper {
  max-height: 40%;
} */

.icon-previous {
  width: 35px;
  position: absolute;
  top: 0;
  left: 45%;
  font-size: 2em;
  cursor: pointer;
  fill: #60be86;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icon-next {
  width: 35px;
  position: absolute;
  bottom: 0;
  left: 45%;
  /* top: 50%;
  right: 50px; */
  font-size: 2em;
  cursor: pointer;
  fill: #60be86;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* PROJECT DESCRIPTION*/
.main-wrapper {
  /* height: 95%; */
  width: 80%;
}

.icon {
  color: #60be86;
  display: inline-block; 
  font-size: 65px;
  margin: 20px 15px 0 20px;
}

.description h1 {
  margin-left: 20px;
  font-size: 28px;
  color: #deca73;
}

.description{
  height: 120px;
  width: 92%;
  text-align: justify;
}

.description p {
  margin-left: 20px;
  font-size: 20px;
  color: #15a8bb;
  /* text-align: justify; */
}


/*FOOTER*/

.footer p {
  margin: 0;
  color: #15a8bb;
}

.footer {
  width: 100%;
  color: #7d97ad;
  text-align: center;
  font-size: 13px;
  border: none;
  background-color: #2d3c49;
  position: absolute;
  bottom: 0;
}

/* .slick-current ~ .slick-active .post {
  border: 2px solid orange;
} */

/* .post-slider .post-wrapper .animate {
    transform: translate3d(0,0,0);
    perspective: 1000;
    filter: blur(0);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: center left;
}

.animate--shrink {
  animation-duration: 1s;
  animation-name: shrink;
  animation-timing-function: 'linear';
}

.animate--grow {
  animation-duration: 1s;
  animation-timing-function: 'linear';
  animation-name: grow;
} */
