/* MEDIA QUERY */

@media only screen and (max-width: 450px) {
    .main {
      width: 100%;
    }
  
    .aboutMe-wrapper {
      height: 485px;
     }
  
    .aboutMe-wrapper .image-box {
      margin: 0;
    }
  
    .image-box .author {
      position: absolute;
      top: 54px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 260px;
      filter: opacity(52%);
    }
    
    .personal-information {
      z-index: 1;
      margin: 0 auto;
    }
  
    .orange-line {
      border: none;
    }
  
    .self-introduce,
    .personal-item-title,
    .personal-item,
    .personal-item .title-link {
      color: #000;
    }

    .self-introduce {
      margin-left: 15px;
    }

    .personal-information {
      word-break: break-all;
    }
  
    .project-description .title-and-link .github-repo {
      margin-top: 15px;
    }
  }
  
  
  @media only screen and (min-width: 451px) and (max-width: 973px) {
    .main {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .project-descripion .icons-wrapper {
      display: flex;
      flex-wrap: wrap;
     }
  
     .project-description .github-repo {
      margin-top: 15px;
    }
  }
  
  
  @media only screen and (min-width: 640px) and (max-width: 901px) {
    .project-presentation .icons-wrapper .icon {
      font-size: 50px;
      margin-right: 8px;
    }
  }
  
  
  @media only screen and (min-width: 902px) and (max-width: 1022px) {
    .self-introduce {
      font-size: 24px;
    }
   
    .project-presentation .icons-wrapper .icon {
      font-size: 52px;
      margin-right: 10px;
    }
    
    .project-presentation .project-description .project-title {
      font-size: 24px;
    }
    
    .project-presentation .project-description .description {
      font-size: 16px;  
    }
  }
  
  
  @media only screen and (min-width: 974px) {
    .main {
      width: 1000px;
      max-width: 68%;
      margin: 40px 11px 23px 0;
      margin-left: auto;
      order: 0;
    }

    .carousel {
      margin-top: 25px;
    }
  }
  
  
  @media only screen and (min-width: 1022px) { 
    .self-introduce {
      font-size: 24px;
    }
  
    .project-presentation .icons-wrapper .icon {
      font-size: 54px;
      margin-right: 11px;
    }
    
    .project-presentation .project-description .project-title {
      font-size: 24px;
    }
    
    .project-presentation .project-description .description {
      font-size: 17px;  
    }
  }